<div hidden>
  <ng-content select="imr-step"></ng-content>
</div>

<mat-stepper
  [linear]="linear"
  [selectedIndex]="selectedIndex"
  [orientation]="orientation"
  [labelPosition]="labelPosition"
  (selectedIndexChange)="selectedIndexChange.emit($event)"
  (selectionChange)="selectionChange.emit($event)"
>
  @for (step of renderedSteps; track step) {
    <mat-step
      [label]="step.label"
      [optional]="step.optional"
      [editable]="step.editable"
      [hasError]="step.hasError"
      [completed]="step.completed ?? undefined"
      [errorMessage]="step.errorMessage"
      [state]="step.state"
      [class]="step.stepClass"
    >
      <ng-container [ngTemplateOutlet]="step.contentTemplate"></ng-container>
    </mat-step>
  }
</mat-stepper>
