@use '../../../theme' as theme

.imr-section
	background-color: var(--imr-card-bg)

.imr-section__head
	background-color: theme.$imr-primary

	h2
		text-transform: uppercase
		color: #fff
		margin: 0
		padding: .5rem

.imr-section__content
	padding: 1rem	

