<imr-header [breadcrumb]="breadcrumb"></imr-header>

<imr-page-layout [title]="title">
  <form [formGroup]="formModul">
    <input hidden type="text" formControlName="id" />
    <imr-section title="Persönliche Daten">
      <div class="app-grid">
        <div class="app-col-12 app-col-lg-8">
          <imr-form-field label="E-Mail-Adresse">
            <input matInput type="email" formControlName="email" uiControlErrors />
          </imr-form-field>
        </div>

        <div class="app-col-12 app-col-lg-4">
          <imr-button [disabled]="formModul.disabled" (click)="emailSpeichern()">
            E-Mail speichern
          </imr-button>
        </div>
      </div>
    </imr-section>
    <imr-section title="Passwort">
      <div class="app-grid">
        <div class="app-col-12 app-col-lg-4">
          <imr-form-field label="Passwort">
            <input matInput type="password" formControlName="password1" uiControlErrors />
          </imr-form-field>
        </div>
        <div class="app-col-12 app-col-lg-4">
          <imr-form-field label="Passwort wiederholen">
            <input matInput type="password" formControlName="password2" uiControlErrors />
          </imr-form-field>
        </div>
        <div class="app-col-12 app-col-lg-4">
          <imr-button [disabled]="formModul.disabled || !passwortAendernErlaubt" (click)="passwortAendern()">
            Passwort ändern
          </imr-button>
        </div>
      </div>
    </imr-section>
  </form>
</imr-page-layout>




<!-- 
<imr-page-layout [title]="title" class="eigene-daten-page">
  <imr-section-card [title]="title">
    <form [formGroup]="formModul">
      <input hidden type="text" formControlName="id" />

      <section class="app-grid">
        <div class="app-col-12 app-col-lg-8">
          <imr-form-field label="E-Mail-Adresse">
            <input matInput type="email" formControlName="email" uiControlErrors />
          </imr-form-field>
        </div>

        <div class="app-col-12 app-col-lg-4 field-action-col">
          <imr-top-actions class="field-action-row">
            <imr-button [disabled]="formModul.disabled" (click)="emailSpeichern()">
              E-Mail speichern
            </imr-button>
          </imr-top-actions>
        </div>
      </section>

      <hr />

      <section class="app-grid">
        <div class="app-col-12 app-col-lg-4">
          <imr-form-field label="Passwort">
            <input matInput type="password" formControlName="password1" uiControlErrors />
          </imr-form-field>
        </div>
        <div class="app-col-12 app-col-lg-4">
          <imr-form-field label="Passwort wiederholen">
            <input matInput type="password" formControlName="password2" uiControlErrors />
          </imr-form-field>

        </div>

        <div class="app-col-12 app-col-lg-4 field-action-col">
          <imr-top-actions class="field-action-row">
            <imr-button [disabled]="formModul.disabled || !passwortAendernErlaubt" (click)="passwortAendern()">
              Passwort ändern
            </imr-button>
          </imr-top-actions>
        </div>
      </section>
    </form>
  </imr-section-card>
</imr-page-layout> -->
