<imr-header [breadcrumb]="breadcrumb"></imr-header>

<section class="verwaltung-page">
  <header class="page-head">
    <h1>{{ title }}</h1>
  </header>

  <mat-card class="imr-card">
    <div class="imr-card__head">
      <h2>Rechnungen & Vorlagen</h2>
    </div>

    <imr-card-content>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="invoice-tabs">
          <mat-tab label="Rechnung">
            <h3>SevDesk</h3>
            <form
              [formGroup]="formAuswahl"
              (ngSubmit)="sevdeskKontaktUebernehmen()"
            >
              <section class="app-grid m-0 mt-3">
                <div class="app-col-12 app-col-lg-9">
                  <imr-form-field label="SevDesk Kontakt auswählen">
                    <mat-select formControlName="name">
                      @for (opt of kontakte; track opt) {
                        <mat-option [value]="opt.id">
                          {{ opt.name }}
                        </mat-option>
                      }
                    </mat-select>
                  </imr-form-field>
                </div>
                <div class="app-col-6 app-col-lg-3">
                  <imr-button
                    color="primary"
                    class="m-3"
                    type="submit"
                  >
                    übernehmen
                  </imr-button>
                </div>
              </section>
            </form>
            <hr />
            <form [formGroup]="formRechnung" (ngSubmit)="printRechnung()">
              <imr-button
                color="primary"
                class="m-3"
                (click)="formRechnungReset()"
                type="button"
              >
                Reset
              </imr-button>
              <imr-button
                color="accent"
                class="m-3"
                type="submit"
              >
                Drucken
              </imr-button>
              <hr />
              <h3>Rechnungsdaten</h3>
              <section class="app-grid mt-2 mx-0">
                <div class="app-col-12 app-col-lg-12 mb-3">
                  <imr-form-field label="Name">
                    <input matInput type="text" formControlName="adress_name" uiControlErrors />
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-6 mb-3">
                  <imr-form-field label="Straße">
                    <input
                      matInput
                      type="text"
                      formControlName="adresse_strasse"
                      uiControlErrors
                    />
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-2 mb-3">
                  <imr-form-field label="PLZ">
                    <input matInput type="text" formControlName="adresse_plz" uiControlErrors />
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-4 mb-3">
                  <imr-form-field label="Ort">
                    <input matInput type="text" formControlName="adresse_ort" uiControlErrors />
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-8 mb-3">
                  <imr-form-field label="Betreff">
                    <input matInput type="text" formControlName="betreff" uiControlErrors />
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-4 mb-3">
                  <imr-form-field label="Rechnungsnummer">
                    <input
                      matInput
                      type="text"
                      formControlName="invoice_nummer"
                      uiControlErrors
                    />
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-12 mb-3">
                  <imr-form-field label="Anrede">
                    <input matInput type="text" formControlName="anrede" uiControlErrors />
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-12 mb-3">
                  <imr-form-field label="Text">
                    <textarea
                      matInput
                      type="text"
                      formControlName="text"
                      uiControlErrors
                      rows="4"
                    ></textarea>
                  </imr-form-field>
                </div>
              </section>
            </form>
            <hr class="mb-3" />
            <h3>Positionen</h3>
            <form
              [formGroup]="formRechnungPositionen"
              (ngSubmit)="addPosition()"
            >
              <section class="app-grid mt-2 mx-0">
                <div class="app-col-12 app-col-lg-6 mb-3">
                  <imr-form-field label="Bezeichnung">
                    <input matInput type="text" formControlName="bezeichnung" uiControlErrors />
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-3 mb-3">
                  <imr-form-field label="Preis">
                    <input matInput type="text" formControlName="preis" uiControlErrors />
                    @if (
                      formRechnungPositionen.controls.preis.hasError("pattern")
                    ) {
                      <mat-error
                        >Ungültiges Format! (z. B. 12,50 oder 12.50)</mat-error
                      >
                    }
                  </imr-form-field>
                </div>
                <div class="app-col-12 app-col-lg-3 mb-3">
                  <imr-button
                    color="accent"
                    class="m-3"
                    type="submit"
                  >
                    Hinzufügen
                  </imr-button>
                </div>
              </section>
            </form>
            <section>
              <imr-list>
                @for (
                  pos of formRechnung.controls.positionen.value;
                  track $index;
                  let i = $index
                ) {
                  <imr-list-item itemClass="app-grid">
                    <div class="app-col-7">{{ pos.bezeichnung }}</div>
                    <div class="app-col-3">{{ formatPreis(pos.preis) }}</div>
                    <div class="app-col-2 text-end">
                      <imr-button
                        class="imr-action-btn"
                        type="button"
                        ariaLabel="Position löschen"
                        (click)="removePosition(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </imr-button>
                    </div>
                  </imr-list-item>
                }
              </imr-list>
            </section>
          </mat-tab>
          <mat-tab label="Coming Soon" disabled></mat-tab>
      </mat-tab-group>
    </imr-card-content>
  </mat-card>
</section>


