<app-header [breadcrumb]="breadcrumb"></app-header>

<div class="row justify-content-center content">
  <div class="col-12 col-md-10 col-lg-8 p-0 m-0">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (sichtbarkeitModul() == "tableListe")
        {
        <button
          mat-raised-button
          color="accent"
          class="me-2 mb-3"
          (click)="neueDetails()"
          type="button"
        >
          Hinzufügen
        </button>
        <button
          mat-raised-button
          color="accent"
          class="me-2 mb-3"
          (click)="neuePruefung()"
          type="button"
        >
          Protokoll Eintrag
        </button>
        } 
        @if (sichtbarkeitModul() == "tablePruefungen") {
        <button
          mat-raised-button
          color="primary"
          class="me-2 mb-3"
          (click)="showMasken()"
          type="button"
        >
          Zurück
        </button>
        }
        <!-- MASKE FORM -->
        @if (sichtbarkeitModul() == "formModul") {
        <form [formGroup]="formModul" (ngSubmit)="datenSpeichern()">
          <input hidden type="text" class="form-control" formControlName="id" />
          <button
            mat-raised-button
            color="accent"
            class="me-3 mt-3 mb-3"
            [hidden]="!formModul.valid"
            type="submit"
          >
            Daten speichern
          </button>
          <button
            mat-raised-button
            class="mt-3 mb-3"
            color="primary"
            [hidden]="formModul.disabled"
            type="button"
            (click)="abbrechen()"
          >
            Zurück
          </button>
          <section class="row mt-2 mx-0">
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field hintLabel="* Pflichtfeld">
                <mat-label>Inventar Nummer</mat-label>
                <input matInput type="text" formControlName="inv_nr" />
                @if (formModul.controls['inv_nr'].hasError('required')) {
                <mat-error> Inventar Nummer ist erforderlich! </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Art</mat-label>
                <input matInput type="text" formControlName="art" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Typ</mat-label>
                <input matInput type="text" formControlName="typ" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Druckminderer</mat-label>
                <input matInput type="text" formControlName="druckminderer" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Lungenautomat</mat-label>
                <input matInput type="text" formControlName="lungenautomat" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Rahmen Nr.</mat-label>
                <input matInput type="text" formControlName="rahmen_nr" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Eigentümer</mat-label>
                <input matInput type="text" formControlName="eigentuemer" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Barcode</mat-label>
                <input matInput type="text" formControlName="barcode" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Standort</mat-label>
                <input matInput type="text" formControlName="standort" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Baujahr</mat-label>
                <input matInput type="text" formControlName="baujahr" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Datum Indienststellung</mat-label>
                <input matInput type="text" formControlName="datum_im_dienst" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field>
                <mat-label>Nächste GÜ</mat-label>
                <input matInput type="text" formControlName="naechste_gue" />
              </mat-form-field>
            </div>
          </section>

          <button
            mat-raised-button
            color="warn"
            [hidden]="!formModul.controls['id'].value"
            type="button"
            (click)="datenLoeschen()"
          >
            Daten löschen
          </button>
        </form>
        }
        <!-- MASKE FORM ENDE -->
        <!-- PRÜFUNG FORM -->
        @if (sichtbarkeitModul() == "formPruefung") {
        <form [formGroup]="formPruefung" (ngSubmit)="datenSpeichernProtokoll()">
          <input hidden type="text" class="form-control" formControlName="id" />
          <button
            mat-raised-button
            color="accent"
            class="me-3 mb-3"
            [hidden]="!formPruefung.valid"
            type="submit"
          >
            Daten speichern
          </button>
          <button
            mat-raised-button
            class="mb-3"
            color="primary"
            type="button"
            (click)="pruefungAbbrechen()"
          >
            Zurück
          </button>
          <section class="row mt-2 mx-0">
            <div class="col-12 col-lg-12 mb-3">
              <mat-form-field hintLabel="* Pflichtfeld">
                <mat-label>Gerät</mat-label>
                <mat-select formControlName="geraet_id">
                  @for (opt of geraete; track opt) {
                  <mat-option [value]="opt.pkid"> {{ opt.inv_nr }} - {{ opt.typ }} </mat-option>
                  }
                </mat-select>
                @if (formPruefung.controls['geraet_id'].hasError('required')) {
                <mat-error> Gerät ist erforderlich! </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field hintLabel="* Pflichtfeld">
                <mat-label>Datum</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="datum"
                  placeholder="TT.MM.YYYY"
                />
                @if (formPruefung.controls['datum'].hasError('pattern')) {
                <mat-error
                  >Ungültiges Format. Bitte TT.MM.YYYY eingeben.</mat-error
                >
                } @if (formPruefung.controls['datum'].hasError('dateInvalid')) {
                <mat-error>Kein existierendes Datum!</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-8 mb-3">
              <mat-form-field>
                <mat-label>Tätigkeit</mat-label>
                <input matInput type="text" formControlName="taetigkeit" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-6 mb-3">
              <mat-form-field>
                <mat-label>Verwendung Typ</mat-label>
                <mat-select formControlName="verwendung_typ">
                  <mat-option value="Ü">Übung</mat-option>
                  <mat-option value="E">Einsatz</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-6 mb-3">
              <mat-form-field>
                <mat-label>Verwendung Minuten</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="verwendung_min"
                />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-12 mb-3">
              <mat-form-field>
                <mat-label>Mitglied</mat-label>
                <mat-select formControlName="mitglied_id">
                  @for (opt of mitglieder; track opt) {
                  <mat-option [value]="opt.pkid"> {{ opt.stbnr }} - {{ opt.vorname }} {{ opt.nachname }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-12 mb-3">
              <mat-checkbox formControlName="geraet_ok"
                >Gerät OK</mat-checkbox
              >
            </div>
            <div class="col-12 col-lg-12 mb-3">
              <mat-form-field hintLabel="* Pflichtfeld">
                <mat-label>Name Prüfer</mat-label>
                <input matInput type="text" formControlName="name_pruefer" />
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-12 mb-3">
              <mat-checkbox formControlName="tausch_hochdruckdichtring"
                >Tausch Hochdruckdichtring</mat-checkbox
              >
            </div>
            <div class="col-12 col-lg-12 mb-3">
              <mat-checkbox formControlName="tausch_membran"
                >Tausch Membran</mat-checkbox
              >
            </div>
            <div class="col-12 col-lg-12 mb-3">
              <mat-checkbox formControlName="tausch_gleitring"
                >Tausch Gleitring</mat-checkbox
              >
            </div>
            <hr>
            <div class="col-12 col-lg-4 mb-3">
              <mat-checkbox formControlName="preufung_monatlich"
                >Prüfung Monatlich </mat-checkbox
              >
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-checkbox formControlName="pruefung_jaehrlich"
                >Prüfung Jährlich </mat-checkbox
              >
            </div>
            <div class="col-12 col-lg-4 mb-3">
              <mat-checkbox formControlName="pruefung_10jahre"
                >Prüfung 10 Jahre </mat-checkbox
              >
            </div>
            <hr>
            <div class="col-12 col-lg-12 mb-3">
              <mat-form-field>
                <mat-label>Notiz</mat-label>
                <input matInput type="text" formControlName="notiz" />
              </mat-form-field>
            </div>
          </section>

          <button
            mat-raised-button
            color="warn"
            [hidden]="!formPruefung.controls['id'].value"
            type="button"
            (click)="datenProtokollLoeschen()"
          >
            Daten löschen
          </button>
        </form>
        }
        <!-- PRÜFUNG FORM ENDE -->
        <!-- TABELLE MASKEN -->
        @if (sichtbarkeitModul() == "tableListe")
        {
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
        >
          <ng-container matColumnDef="inv_nr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Inv Nr.</th>
            <td mat-cell *matCellDef="let element">{{ element.inv_nr }}</td>
          </ng-container>
          <ng-container matColumnDef="typ">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ</th>
            <td mat-cell *matCellDef="let element">
              {{ element.typ }}
            </td>
          </ng-container>
          <ng-container matColumnDef="art">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Art</th>
            <td mat-cell *matCellDef="let element">{{ element.art }}</td>
          </ng-container>
          <ng-container matColumnDef="standort">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Standort</th>
            <td mat-cell *matCellDef="let element">{{ element.standort }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                class="px-0"
                color="primary"
                (click)="auswahlBearbeiten(element)"
              >
                <mat-icon class="m-0">edit</mat-icon>
              </button>
              <button
                mat-raised-button
                class="ms-2"
                color="primary"
                (click)="neuePruefungVonMaske(element)"
              >
                <mat-icon class="m-0">checklist</mat-icon>
              </button>
              <button
                mat-raised-button
                class="ms-2"
                color="primary"
                (click)="showPruefungen(element)"
              >
                <mat-icon class="m-0">assignment</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="sichtbareSpalten"></tr>
          <tr mat-row *matRowDef="let row; columns: sichtbareSpalten"></tr>
        </table>
        }
        <!-- TABELLE MASKEN ENDE -->
        <!-- TABELLE MASKEN PRÜFUNGEN -->
        @if (sichtbarkeitModul() == "tablePruefungen") {
        <table
          mat-table
          [dataSource]="dataSourcePruefungen"
          matSort
        >
          <ng-container matColumnDef="datum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
            <td mat-cell *matCellDef="let element">{{ element.datum }}</td>
          </ng-container>
          <ng-container matColumnDef="taetigkeit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tätigkeit</th>
            <td mat-cell *matCellDef="let element">
              @if (element.pruefung_10jahre == true) {
                Prüfung 10 Jahre
              }@else if (element.pruefung_jaehrlich == true) {
                Prüfung Jährlich
              }@else if (element.preufung_monatlich == true) {
                Prüfung Monatlich
              }@else if (element.taetigkeit) {
                {{ element.taetigkeit }}
              }@else {
                Wartung / Tausch
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="name_pruefer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Name Prüfer
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.name_pruefer }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                class="px-0"
                color="primary"
                (click)="auswahlBearbeitenProtokoll(element)"
              >
                <mat-icon class="m-0">remove_red_eye</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="sichtbareSpaltenPruefungen"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: sichtbareSpaltenPruefungen"
          ></tr>
        </table>
        }
        <!-- TABELLE MASKEN PRÜFUNGEN ENDE -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
