@use '../../../theme' as theme

mat-list
	padding-top: 0
	padding-bottom: 0

.mat-mdc-list-base
	padding-top: 0
	padding-bottom: 0

.mat-list-link span,
.mat-tree-link span
	text-decoration: underline
	color: theme.$imr-primary
	cursor: pointer
