@use '../../theme' as theme

.login-page
    padding-top: 50px

.login-card
    text-align: center
    display: flex
    justify-content: center
    align-items: center

.login-logo
    max-width: 70vw
    width: 350px

.login-form
    padding: 1rem

.login-footer
    margin-top: .6rem
    text-align: center
    line-height: 1.35
    opacity: .85

.login-resolution
    margin-top: .15rem

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
    display: none
