@use '../../../theme' as theme

mat-list-item
	height: auto
	padding-left: 0
	padding-right: 0
	padding-top: 5px

.mat-mdc-list-item
	min-height: auto

mat-list-item span span
	display: flex
	align-items: center
	margin: 0

.mat-mdc-list-item .mdc-list-item__content
	display: flex
	align-items: center
	margin: 0
	color: theme.$imr-text

	mat-icon
		padding-right: 5px
