:host
	display: block
	width: 100%

mat-chip-set
	display: block
	width: 100%
	overflow-x: hidden
	overflow-y: visible

:host ::ng-deep mat-chip-set .mdc-evolution-chip-set__chips,
:host ::ng-deep mat-chip-set .mat-mdc-chip-set,
:host ::ng-deep mat-chip-set .mat-mdc-chip-list-wrapper
	display: flex
	flex-wrap: wrap
	gap: .42rem
	width: 100%
	overflow-x: hidden !important
	overflow-y: visible !important
	scrollbar-width: none

:host ::ng-deep mat-chip-set .mdc-evolution-chip-set__chips::-webkit-scrollbar,
:host ::ng-deep mat-chip-set .mat-mdc-chip-set::-webkit-scrollbar,
:host ::ng-deep mat-chip-set .mat-mdc-chip-list-wrapper::-webkit-scrollbar
	display: none



