    <mat-form-field
      [class]="fieldClass"
      [appearance]="appearance"
      [subscriptSizing]="subscriptSizing"
    >
      @if (hasLabel) {
        <mat-label>
          @if (useProjectedLabel) {
            <ng-content select="imr-label"></ng-content>
          } @else {
            {{ label }}
          }
        </mat-label>
      }
      <ng-content></ng-content>
      @if (hint) {
        <mat-hint>{{ hint }}</mat-hint>
      }
      @if (_suffixChild) {
        <span matSuffix><ng-content select="imr-suffix"></ng-content></span>
      }
      @if (_errorChild) {
        <mat-error><ng-content select="imr-error"></ng-content></mat-error>
      }
      @if (!_errorChild && autoErrorMessage) {
        <mat-error>{{ autoErrorMessage }}</mat-error>
      }
    </mat-form-field>

