@switch (variant) {
  @case ('stroked') {
    <button
      mat-stroked-button
      [id]="id"
      [name]="name"
      [value]="value"
      [color]="color"
      [disabled]="disabled"
      [attr.aria-label]="ariaLabel"
      [type]="type"
      [class.imr-full-width]="fullWidth"
      [class]="buttonClass"
      (click)="handleClick($event)"
    >
      <ng-content></ng-content>
    </button>
  }
  @case ('raised') {
    <button
      mat-raised-button
      [id]="id"
      [name]="name"
      [value]="value"
      [color]="color"
      [disabled]="disabled"
      [attr.aria-label]="ariaLabel"
      [type]="type"
      [class.imr-full-width]="fullWidth"
      [class]="buttonClass"
      (click)="handleClick($event)"
    >
      <ng-content></ng-content>
    </button>
  }
  @case ('basic') {
    <button
      mat-button
      [id]="id"
      [name]="name"
      [value]="value"
      [color]="color"
      [disabled]="disabled"
      [attr.aria-label]="ariaLabel"
      [type]="type"
      [class.imr-full-width]="fullWidth"
      [class]="buttonClass"
      (click)="handleClick($event)"
    >
      <ng-content></ng-content>
    </button>
  }
  @case ('icon') {
    <button
      mat-icon-button
      [id]="id"
      [name]="name"
      [value]="value"
      [color]="color"
      [disabled]="disabled"
      [attr.aria-label]="ariaLabel"
      [type]="type"
      [class]="buttonClass"
      (click)="handleClick($event)"
    >
      <ng-content></ng-content>
    </button>
  }
  @case ('fab') {
    <button
      mat-fab
      [id]="id"
      [name]="name"
      [value]="value"
      [color]="color"
      [disabled]="disabled"
      [attr.aria-label]="ariaLabel"
      [type]="type"
      [class]="buttonClass"
      (click)="handleClick($event)"
    >
      <ng-content></ng-content>
    </button>
  }
  @case ('mini-fab') {
    <button
      mat-mini-fab
      [id]="id"
      [name]="name"
      [value]="value"
      [color]="color"
      [disabled]="disabled"
      [attr.aria-label]="ariaLabel"
      [type]="type"
      [class]="buttonClass"
      (click)="handleClick($event)"
    >
      <ng-content></ng-content>
    </button>
  }
  @default {
    <button
      mat-flat-button
      [id]="id"
      [name]="name"
      [value]="value"
      [color]="color"
      [disabled]="disabled"
      [attr.aria-label]="ariaLabel"
      [type]="type"
      [class.imr-full-width]="fullWidth"
      [class]="buttonClass"
      (click)="handleClick($event)"
    >
      <ng-content></ng-content>
    </button>
  }
}
