<mat-toolbar class="app-header-toolbar">
  <img class="app-header-logo" src="../assets/images/icon.svg" alt="Logo" routerLink="/start"/>
  <span class="title app-header-title" routerLink="/start">{{title}}</span>
  <span class="spacer"></span>
  <button class="app-header-logout" mat-icon-button (click)="this.authSessionService.abmelden()">
    <mat-icon class="material-icons">logout</mat-icon>
  </button>
</mat-toolbar>

<div class="app-header-stepper-wrap">
  <nav class="app-header-breadcrumb" aria-label="Breadcrumb">
    @if (hasBreadcrumb) {
      <a class="breadcrumb-item breadcrumb-home breadcrumb-link" aria-label="Startseite" routerLink="/start">
        <mat-icon>home</mat-icon>
      </a>

      @for (link of breadcrumb; track link; let i = $index) {
        @if (i > 0) {
          <span class="breadcrumb-separator" aria-hidden="true">&gt;</span>
          @if (link.link) {
            <a class="breadcrumb-item breadcrumb-link" [routerLink]="link.link">{{ link.kuerzel }}</a>
          } @else {
            <span class="breadcrumb-item">{{ link.kuerzel }}</span>
          }
        }
      }
    }
  </nav>
</div>