<mat-toolbar class="app-header-toolbar">
  <img class="app-header-logo" src="../assets/images/icon.svg" alt="Logo" routerLink="/start"/>
  <span class="title app-header-title" routerLink="/start">{{title}}</span>
  <span class="spacer"></span>
  <button class="app-header-logout" mat-icon-button (click)="this.globalDataService.abmelden()">
    <mat-icon class="material-icons">logout</mat-icon>
  </button>
</mat-toolbar>

@if (loading$ | async) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="app-header-stepper-wrap">
  <mat-stepper
    class="app-header-stepper"
    [selectedIndex]="activeBreadcrumbIndex"
    (selectionChange)="onStepperSelection($event.selectedIndex)"
  >
    @for (link of breadcrumb; track link; let i = $index) {
      <mat-step [completed]="i < activeBreadcrumbIndex" [editable]="true">
        <ng-template matStepLabel>{{ link.kuerzel }}</ng-template>
      </mat-step>
    }
  </mat-stepper>
</div>